SurgerUI.Sweet/SurgerUI.Sweet/SampleData/GridviewSampleDataSource/GridviewSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.GridviewSampleDataSource" targetNamespace="Expression.Blend.SampleData.GridviewSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GridviewSampleDataSource" type="tns:GridviewSampleDataSource" />
  <xs:complexType name="GridviewSampleDataSource">
    <xs:sequence>
      <xs:element name="Groups" type="tns:Groups" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Groups">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="GroupsItem" type="tns:GroupsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupsItem">
    <xs:attribute name="Property1" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Property2" type="xs:double" />
  </xs:complexType>
</xs:schema>